

$paddingSide: 5vw;
$rowWidth: 100vw - 2*$paddingSide;
$col1Width: 20vw;
$col2Width: 20vw;
$col3Width: 70vw;

$headerHeight: 30vh;
$headerColor: white;



@font-face {
    font-family: Chivo;
    font-weight: normal;
    font-variant: normal;
    src: url("./chivo/Chivo-Regular.ttf")
}
@font-face {
    font-family: Chivo;
    font-weight: bold;
    font-variant: normal;
    src: url("./chivo/Chivo-Bold.ttf")
}
@font-face {
    font-family: Chivo;
    font-weight: 600;
    font-variant: normal;
    src: url("./chivo/Chivo-Black.ttf")
}


html, body{
    overflow: hidden;
}



#app {
    font-family: Chivo;
    width: $rowWidth+11vw;
    //width: $wrapperWidth;
    height: 100vh;
    padding-left: $paddingSide;
    padding-right: $paddingSide;
    color: black;
    background-color: ghostwhite;

}


@keyframes fadeHighlight {
    0% {        background-color: mediumspringgreen; }
    100% {      background-color: initial;    }
}

.highlight{
    background-color: mediumspringgreen;
    animation-name: fadeHighlight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


#header{
    & > *{
        height: 98%;
        padding-top: 2%;
        box-sizing: border-box;
    }
    color: black;
    background-color: $headerColor;
    display: flex;
    height: $headerHeight;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: $rowWidth;
    padding-left: $paddingSide;
    padding-right: $paddingSide;
    //background-color: darkblue;
    //align-items: center;
    #logo{
        width: $col1Width;
        svg{
            width: 60%;
            *{
                //fill: white;
            }
        }
    }

    #status{
        //background-color: #00ffa3;
        width: $col3Width;

        #standbyText{
            font-size: 5rem;
            line-height: 5.2rem;
            font-weight: bold;
        }


        #userMessageContainer{
            height: 100%;

        }

        .userName{
            font-size: 2rem;
            line-height: 4rem;
            font-weight: bold;
            display: inline-block;
            width: 20%;
            height: 100%;
            vertical-align: text-top;
        }

        .userMessage{
            font-size: 5rem;
            line-height: 5.2rem;
            font-weight: bold;
            display: inline-block;
            height: 100%;
            width: 80%;
            vertical-align: text-top;
        }



    }

}


#gradient{
    background: linear-gradient(white, transparent); /* Standard syntax */
    position: fixed;
    left: 0;
    top: $headerHeight;
    width: 100%;
    height: 40%;
}

#contentWrapper{
    height: 100vh - $headerHeight;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: $headerHeight;
}


#content{
    width: $col2Width+$col3Width;
    box-sizing: border-box;
    padding-left: $col1Width;
    min-height: 100vh - 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}

.messageContainer {
    display: flex;
    width: 100%;
    font-weight: 400;
    //background-color: blue;
    padding-bottom: 3rem;
    font-size: 2rem;
    line-height: 2.5rem;

    div{
        display: inline-block;

    }

    .senderName{
        width: $col1Width;
        font-weight: bold;
        &::after{
            content: ":";
        }
        //background-color: yellow;
    }

    .messageContent{
        width: $col3Width;
        //background-color: deeppink;
    }

}

#input{
    position: fixed;
    bottom: 0;
    width: $rowWidth;
    height: 5vh;
    //background-color: rgba(255, 0, 255, 0.4);


    form{
        justify-content: center;
        display: flex;
        padding-left: 5vw;
        padding-right: 5vw;
        align-items: center;
        height: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


        input{
            font-family: Chivo;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid black;
            height: 20%;
            font-size: 3rem;
            padding: 15px;

            &:focus{
                outline: none;
            }
        }

        #clientName{
            width: 20%;
            border-right: 1px solid black;
        }

        #clientMessage{
            width: 70%;
        }


        #submitButton{
            display: none;
        }


    }

}

.pauseContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;

}

.pauseScreen{
    flex-grow: 1;
    background-color: black;


    display: flex;
    align-items: center;

    svg {

        height: 70%;
        width: 70%;
        margin: auto;

        *{
            fill: white;
        }

    }

}
