doctype html
html(lang="en")
    head
        title Parliament of Bots
        link(rel="stylesheet" href="/css/main.css")
        script.
            window.__host__ = !{JSON.stringify(host)};
            window.__nsp__ = !{JSON.stringify(nsp)};
    body
        #app
        script(src="/main.bundle.js")
